<!-- Top navigation -->
<nav class="navbar navbar-dark navbar-expand fixed-top bg-dark shadow p0 m0">
    <a class="navbar-brand" routerLink="/dashboard">
        <img class="brand-logo logo" src="assets/logo.png" alt="SmartCalendar logo">
        <span class="dasboard-text dasboard-text-active">Dashboard</span>
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/time-table">Time Table</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/manage">Manage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/report">Report</a>
        </li>
    </ul>
    <span class="nav-item my-lg-0">
        <a class="nav-link" routerLink="/profile">
            <button type="button" mat-mini-fab color="lightgrey"><mat-icon>person</mat-icon></button>
        <!-- <button type="button" class="btn btn-circle btn-sm text-center"><i class="fas fa-user user-icon"></i></button> -->
        </a>
    </span>
</nav>
<!-- Sidebar navigation -->
<div class="container-fluid">
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
    <div class="row">
        <!-- Main content -->
        <main role="main" class="col-md-9 ml-sm-auto mr-sm-auto col-lg-10 px-4">
            <div class="inner-adjust">
                <div class="row pt-3 pb-2 mb-3 border-bottom">
                    <div class="col-lg-6 col-md-12 col-sm-12 d-flex flex-row ">
                        <h1 class="h2 highlight highlight-itinerary">Itinerary</h1>
                        <mat-form-field class="ml-auto">
                                <mat-label>Group By</mat-label>
                                <mat-select [(ngModel)]="selectedValue" (ngModelChange)="setDateFilter($event)" ng-options="factor for id in availableOptions">
                                    <mat-option *ngFor="let factor of availableOptions" value="{{ factor }}">
                                        {{ factor }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 d-flex flex-row align-items-center">
                        
                        <div class="btn-group mr-auto">
                            <mat-slide-toggle 
                                [checked]="filterDateMode === 'Current' ? true : false"
                                (change)="setValue( $event)">
                                {{filterDateMode}}
                            </mat-slide-toggle>
                        </div>
                        <div class="ml-auto p-2">
                            <button class="btn btn-success" routerLink="/add-travel-itinerary">Add</button>
                        </div>
                    </div>
                </div>
                <!-- Show user data when logged in -->
                <!--show all the trips  -->
                <div class="row max-width " *ngIf="selectedViewMode=='none'"> 
                    <div class="list-group max-width min-height">
                        <a [routerLink]="['/edit-travel-itinerary/', itinerary.id]" *ngFor="let itinerary of selectedTravelItitnerary" class="list-group-item list-group-item-action flex-column align-items-start mb-2 highlightItems">
                            <div class="d-flex w-100 justify-content-between" >
                                <h6 class="mb-1">{{ itinerary.title?itinerary.title: 'Unknown Title' }}</h6>
                                <small>{{itinerary.startsAt.toDate() | niceDateFormatPipe}}</small>
                            </div>
                            <p class="mb-1">{{ itinerary.startsAt.toDate() | date }} - {{ itinerary.endsAt.toDate() | date }}</p>
                        </a>
                        <div *ngIf="selectedTravelItitnerary && selectedTravelItitnerary.length===0"  class="list-group-item list-group-item-action flex-column align-items-start mb-2 highlightItems">No Travel Itinerary Available!</div>
                    </div>
                </div>

                <!-- show trips of the current user -->
                <div class="row max-width " *ngIf="selectedViewMode=='myTrip'"> 
                        <div class="list-group max-width min-height">
                            <a [routerLink]="['/edit-travel-itinerary/', itinerary.id]" *ngFor="let itinerary of selectedTravelItitnerary" class="list-group-item list-group-item-action flex-column align-items-start mb-2 highlightItems">
                                <div class="d-flex w-100 justify-content-between" >
                                    <h6 class="mb-1">{{ itinerary.title?itinerary.title: 'Unknown Title' }}</h6>
                                    <small>{{itinerary.startsAt.toDate() | niceDateFormatPipe}}</small>
                                </div>
                                <p class="mb-1">{{ itinerary.startsAt.toDate() | date }} - {{ itinerary.endsAt.toDate() | date }}</p>
                            </a>
                            <div *ngIf="selectedTravelItitnerary && selectedTravelItitnerary.length===0"  class="list-group-item list-group-item-action flex-column align-items-start mb-2 highlightItems">No Travel Itinerary</div>
                        </div>
                    </div>

                <div class="row max-width min-height" *ngIf="selectedViewMode=='staff'">
                    <div class="col col-md-4 col-sm-6 col-xs-12 mb-2" *ngFor="let user of users">
                        <div class="card " >
                            <div class="card-body ">
                                    <h6 class="mb-1"> {{user.displayName?user.displayName:' Unknown Name'}}</h6>
                            <div *ngFor="let itinerary of myTripFilterByEmail(selectedTravelItitnerary,user.email)">
                                <a [routerLink]="['/edit-travel-itinerary/', itinerary.id]">
                                    {{itinerary.title}}
                                </a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row max-width min-height" *ngIf="selectedViewMode=='month'">
                        <div class="col col-md-4 col-sm-6 col-xs-12 mb-2" *ngFor="let month of listOfMonths">
                            <div class="card " >
                                <div class="card-body ">
                                        <h6 class="mb-1"> {{month}}</h6>
                                    <div *ngFor="let itinerary of selectedTravelItitnerary">
                                    <a [routerLink]="['/edit-travel-itinerary/', itinerary.id]" *ngIf="checkIfInMonth(month,itinerary.startsAt)">
                                        {{itinerary.title}}
                                    </a>
                                </div>
                                </div>
                                </div>
                            </div>
                    </div>
            </div>
        </main>
    </div>




</div>


