<!-- Top navigation -->
<nav class="navbar navbar-dark navbar-expand fixed-top bg-dark shadow p0 m0" aria-label="">
    <a class="navbar-brand" routerLink="/dashboard">
        <img class="brand-logo logo" src="assets/logo.png" alt="SmartCalendar logo">
        <span class="dasboard-text ">Dashboard</span>
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/time-table">Time Table</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/manage">Manage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/report">Report</a>
        </li>
    </ul>
    <span class="nav-item my-lg-0">
        <a class="nav-link" routerLink="/profile">
            <button type="button" mat-mini-fab color="lightgrey"><mat-icon>person</mat-icon></button>
        </a>
    </span>
</nav>
<!-- Sidebar navigation -->
<div class="container-fluid">
        <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
                <p style="font-size: 20px; color: white">Loading...</p>
            </ngx-spinner>
    <div class="row">
        <nav class="col-md-2 d-md-block bg-light sidebar" aria-label="">
            <div class="sidebar-sticky">
                <div class="text-center mb-2"><button  class="btn btn-danger"  (click)="clearFilter()">Clear Filter</button></div>
                    <mat-accordion>

                            <mat-expansion-panel (click)="clearItineraryFilter()">
                              <mat-expansion-panel-header>
                                <strong>Staff</strong>
                              </mat-expansion-panel-header>
                          
                              <mat-selection-list #shoes [(ngModel)]="selectedUserOptions" (ngModelChange)="onNgUserModelChange($event)">
                                    <mat-list-option *ngFor="let user of users" [value]="user">
                                        {{user.displayName}}
                                    </mat-list-option>
                                </mat-selection-list>
                          
                            </mat-expansion-panel>

                            <mat-expansion-panel (click)="clearStaffFilter()">
                                    <mat-expansion-panel-header>
                                      <strong>Travel Itinerary</strong>
                                    </mat-expansion-panel-header>
                                
                                    <mat-selection-list #shoes [(ngModel)]="selectedOptions" (ngModelChange)="onTravelNgModelChange($event)">
                                        <mat-list-option *ngFor="let itinerary of travelItinerary" [value]="itinerary">
                                            {{itinerary.title}}
                                        </mat-list-option>
                                    </mat-selection-list>
                                
                                  </mat-expansion-panel>
                          
                          </mat-accordion>


                <!-- yeaysdyfysdf -->
                
            </div>
        </nav>
        <!-- Main content -->
        <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
            <div class="inner-adjust">
                <div class="pt-3 pb-2 mb-3 border-bottom">
                    <div class="row">
                        <div class="col col-md-6">
                                <h2 class="h2 highlight">Time Table {{events ? events.length: 0 }} events </h2>
                        </div>
                        <div class="col col-md-6 text-center">
                                <div class="cal-event pb-1" style="border-color:rgb(173, 33, 33)!important;    border: 1px solid;background-color: rgb(250, 227, 227);">Travel Itinerary</div>
                    <div class="cal-event pb-1" style="background-color: rgb(209, 232, 255)!important;    border: 1px solid;
                    border-color: rgb(30, 144, 255);">Trip</div>
                    <div class="cal-event" style="background-color: rgb(253, 241, 186)!important;    border: 1px solid;
                    border-color: rgb(227, 188, 8);">Event</div>
                        </div>
                    </div>
                    

                        

                    
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <div class="btn-group">
                            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                                (viewDateChange)="closeOpenMonthViewDay()">
                                Previous
                            </div>
                            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                                Today
                            </div>
                            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                                (viewDateChange)="closeOpenMonthViewDay()"> Next
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en'}}</h3>
                    </div>
                    <div class="col-md-4">
                        <div class="btn-group">
                            <div class="btn btn-primary" (click)="setView(CalendarView.Month)"
                                [class.active]="view === CalendarView.Month">
                                Month
                            </div>
                            <div class="btn btn-primary" (click)="setView(CalendarView.Week)"
                                [class.active]="view === CalendarView.Week">
                                Week
                            </div>
                            <div class="btn btn-primary" (click)="setView(CalendarView.Day)"
                                [class.active]="view === CalendarView.Day">
                                Day
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div [ngSwitch]="view" class="mb-2">
                    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
                        [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
                        (eventClicked)="handleEvent('Clicked', $event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)">
                    </mwl-calendar-month-view>
                    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
                        [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)">
                    </mwl-calendar-week-view>
                    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
                        [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)">
                    </mwl-calendar-day-view>
                </div>

                <!-- Show user data when logged in -->
                <div class="row" *ngIf="authService.userData as user">
                    <div class="col-md-12">
                        <div class="media">

                        </div>
                    </div>
                </div>

            </div>
        </main>
    </div>
</div>