<!-- Top navigation -->
<nav class="navbar navbar-dark navbar-expand fixed-top bg-dark shadow p0 m0" aria-label="">
    <a class="navbar-brand" routerLink="/dashboard">
        <img class="brand-logo logo" src="assets/logo.png" alt="SmartCalendar logo">
        <span class="dasboard-text">Dashboard</span>
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/time-table">Time Table</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/manage">Manage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/report">Report</a>
        </li>
    </ul>
    <span class="nav-item my-lg-0">
      <a class="nav-link" routerLink="/profile">
        <button type="button" mat-mini-fab color="lightgrey"><mat-icon>person</mat-icon></button>
        <!-- <button type="button" class="btn btn-circle btn-sm text-center"><i class="fas fa-user user-icon"></i></button> -->
        </a>
    </span>
  </nav>
  <!-- Sidebar navigation -->
  <div class="container-fluid">
    <div class="row">
        <!-- Main content -->
        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
            <div class="inner-adjust">
                <div class="pt-1 pb-2 mt-3 mb-3 border-bottom d-flex flex-row align-items-centers">
                    <h1 class="h2 mr-2 mt-auto mb-auto back-header" [routerLink]="['/edit-trip/', trip]"><span class="back-button-highlight"><mat-icon>arrow_back_ios</mat-icon></span><span class="highlight">Event {{title}}</span></h1>
                    <button class="mr-2" type="button" mat-mini-fab color="primary" [hidden]="isEditing" (click)="enableEdit()"><mat-icon>edit</mat-icon></button>
                    <button mat-button mat-mini-fab color="red" (click)="open(content)"><mat-icon>delete</mat-icon></button>
                  
                </div>
                <!-- Show user data when logged in -->
                <div class="row ">
                    <div class="col-md-12">
                      <div class="row mat-elevation-z8 mb-3 p-3 background-white">
                          <form [formGroup]="boardsForm" (ngSubmit)="onFormSubmit(boardsForm.value)" class="max-width">
                              <mat-form-field class="add-full-width">
                                  <input matInput placeholder="Title" formControlName="title">
                                  <mat-error>
                                      <span *ngIf="!boardsForm.get('title').valid && boardsForm.get('title').touched">Please enter Title</span>
                                  </mat-error>
                              </mat-form-field>
                              <mat-form-field class="add-full-width">
                                  <input matInput placeholder="Start Date"  [value]="startsAt" formControlName="startsAt" [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5">
                                  <owl-date-time [pickerMode]="'dialog'" #dt5></owl-date-time>
                                  <mat-error>
                                      <span *ngIf="!boardsForm.get('startsAt').valid && boardsForm.get('startsAt').touched">Please enter Start Date</span>
                                  </mat-error>
                              </mat-form-field>
                              <mat-form-field class="add-full-width">
                                  <input matInput placeholder="Start Date"  [value]="endsAt" formControlName="endsAt" [owlDateTimeTrigger]="dt6" [owlDateTime]="dt6">
                                  <owl-date-time [pickerMode]="'dialog'" #dt6></owl-date-time>
                                  <mat-error>
                                      <span *ngIf="!boardsForm.get('endsAt').valid && boardsForm.get('endsAt').touched">Please enter End Date</span>
                                  </mat-error>
                              </mat-form-field>
                              
                              <mat-form-field class="add-full-width">
                                <input matInput
                                  placeholder="Location" formControlName="location"
                                  matGoogleMapsAutocomplete
                                  (onAutocompleteSelected)="onAutocompleteSelected($event)"
                                  (onLocationSelected)="onLocationSelected($event)">
                                <mat-error>
                                    <span *ngIf="!boardsForm.get('location').valid && boardsForm.get('location').touched">Please enter Location</span>
                                </mat-error>
                              </mat-form-field>
    
                            <mat-form-field class="add-full-width">
                              <input matInput placeholder="Airline" formControlName="airline">
                            </mat-form-field>
    
                            <mat-form-field class="add-full-width">
                              <input matInput placeholder="Flight Detail" formControlName="flightDetail">
                            </mat-form-field>
    
                            <mat-form-field class="add-full-width">
                              <input matInput
                                   placeholder="Hotel" formControlName="hotel">
                            </mat-form-field>
    
                            <mat-form-field class="add-full-width">
                                    <mat-label>Staff</mat-label>
                                    <mat-select formControlName="users" multiple [compareWith]="compareWithFunc">
                                      <mat-option *ngFor="let user of userList" [value]="user">{{user.email}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
    
                              <div class="button-row">
                                  <button type="submit" [hidden]="!isEditing" [disabled]="!boardsForm.valid" mat-fab color="primary"><mat-icon>save</mat-icon></button>
                              </div>
                          </form>
                      </div>
                        
                    </div>

                    <div title="Add to Calendar" class="addeventatc">
                        Add to Calendar
                        <span class="start">{{startsAt | date}}</span>
                        <span class="end">{{endsAt| date}}</span>
                        <span class="timezone">Australia/Currie</span>
                        <span class="title">Trip {{title}}</span>
                        <span class="attendees" *ngIf="selectedUser"><span *ngFor="let user of selectedUser">{{user.email}},</span></span>
                        <span class="location">{{location}}</span>
                    </div>
                </div>
            </div>
        </main>
    </div>
  </div>
  

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Are you sure?</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
       <!-- Modal body -->
       <div class="modal-body">
        Do you really want to delete {{title}}? This process cannot be undone
        </div>  
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="delete();modal.dismiss('Cross click')">Delete</button>
    </div>
  </ng-template>