<!-- Top navigation -->
<nav class="navbar navbar-dark navbar-expand fixed-top bg-dark shadow p0 m0" aria-label="">
  <a class="navbar-brand" routerLink="/dashboard">
      <img class="brand-logo logo" src="assets/logo.png" alt="SmartCalendar logo">
      <span class="dasboard-text">Dashboard</span>
  </a>
  <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" routerLink="/time-table">Time Table</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/manage">Manage</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" routerLink="/report">Report</a>
      </li>
  </ul>
  <span class="nav-item my-lg-0">
    <a class="nav-link" routerLink="/profile">
      <button type="button" mat-mini-fab color="lightgrey"><mat-icon>person</mat-icon></button>
      <!-- <button type="button" class="btn btn-circle btn-sm text-center"><i class="fas fa-user user-icon"></i></button> -->
      </a>
  </span>
</nav>
<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">
      <!-- Main content -->
      <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
          <div class="inner-adjust">
              <div class="pt-1 pb-2 mt-3 mb-3 border-bottom d-flex flex-row align-items-centers">
                  <h1 class="h2 mr-2 back-header" [routerLink]="['/edit-travel-itinerary/', travelItinerary]"><span class="back-button-highlight"><mat-icon>arrow_back_ios</mat-icon></span><span class="highlight">Trip {{title}}</span></h1>
                  <button class="mr-2" type="button" mat-mini-fab color="primary" [hidden]="isEditing" (click)="enableEdit()"><mat-icon>edit</mat-icon></button>
                  <button class="mr-2" type="button" mat-mini-fab color="secondary" [hidden]="isEditing" (click)="enableMap()"><mat-icon>map</mat-icon></button>
                  <button mat-button mat-mini-fab color="red" (click)="open(content)"><mat-icon>delete</mat-icon></button>
              </div>
              <!-- Show user data when logged in -->
              <div class="row mb-3">
                  <div class="col-md-6">
                      <div class="row mat-elevation-z8 mb-3 p-3 background-white">
                            <form [formGroup]="boardsForm" (ngSubmit)="onFormSubmit(boardsForm.value)" class="max-width">
                                    <mat-form-field class="add-full-width">
                                        <input matInput placeholder="Title" formControlName="title">

                                        <button mat-button type="button" *ngIf="boardsForm.get('title').value && !boardsForm.get('title').disabled" matSuffix mat-icon-button aria-label="Clear" (click)="boardsForm.controls['title'].patchValue('', {emitEvent: true})">
                                            <mat-icon>close</mat-icon>
                                        </button>   

                                        <mat-error>
                                            <span *ngIf="!boardsForm.get('title').valid && boardsForm.get('title').touched">Please enter Title</span>
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="add-full-width">
                                          <input matInput placeholder="Start Date" formControlName="startsAt" [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5">
                                          <owl-date-time [pickerMode]="'dialog'" #dt5></owl-date-time>
                                    </mat-form-field>
                                    <mat-form-field class="add-full-width">
                                          <input matInput placeholder="Start Date"  formControlName="endsAt" [owlDateTimeTrigger]="dt6" [owlDateTime]="dt6">
                                          <owl-date-time [pickerMode]="'dialog'" #dt6></owl-date-time>
                                    </mat-form-field>
                                    
                                    <mat-error class="add-full-width custom-validator-error">
                                      <span *ngIf="boardsForm.errors && boardsForm.get('endsAt').touched && boardsForm.get('startsAt').touched">Invalid Start Date or End Date</span>
                                  </mat-error>
          
                                      <mat-form-field class="add-full-width">
                                      <input matInput
                                          placeholder="Location" formControlName="location"
                                          matGoogleMapsAutocomplete
                                          (onAutocompleteSelected)="onAutocompleteSelected($event)"
                                          (onLocationSelected)="onLocationSelected($event)">
                                        <button mat-button type="button" *ngIf="boardsForm.get('location').value && !boardsForm.get('location').disabled" matSuffix mat-icon-button aria-label="Clear" (click)="boardsForm.controls['location'].patchValue('', {emitEvent: true})">
                                            <mat-icon>close</mat-icon>
                                        </button>   

                                      <mat-error>
                                          <span *ngIf="!boardsForm.get('location').valid && boardsForm.get('location').touched">Please enter Location</span>
                                      </mat-error>
                                  </mat-form-field>
                                  <mat-form-field class="add-full-width">
                                    <mat-label>Staff</mat-label>
                                    <mat-select formControlName="users" multiple [compareWith]="compareWithFunc">
                                      <mat-option *ngFor="let user of userList" [value]="user">{{user.email}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                    <div class="button-row">
                                        <button type="submit" [hidden]="!isEditing" [disabled]="!boardsForm.valid" mat-mini-fab color="primary"><mat-icon>save</mat-icon></button>
                                    </div>
                                </form>
                      </div>
                      
                      <div class="row mat-elevation-z8 mb-3 p-3 background-white" *ngIf="showMap && eventList && eventList.length>0">
                            <agm-map [latitude]="origin.lat" [longitude]="origin.lng" [fitBounds]="true">
                               
                                    <agm-marker *ngFor="let data of eventList"
                                        [label]="{color: 'black', text: data.title}"
                                        [latitude]="data.latitude" [longitude]="data.longitude"
                                        [agmFitBounds]="true">
                                    </agm-marker>
                                    <agm-polyline [editable]="true">
                                        <agm-polyline-point *ngFor="let data of eventList" 
                                            [latitude]="data.latitude"
                                            [longitude]="data.longitude">
                                        </agm-polyline-point>
                                    </agm-polyline>
                                   
                                <!-- <agm-direction [origin]="origin" [destination]="destination" [waypoints]="waypoints"></agm-direction> -->
                                </agm-map>
                        </div>

                    <div class="text-center mb-2">
                        <div title="Add to Calendar" class="addeventatc">
                            Add to Calendar
                            <span class="start">{{startsAt | date}}</span>
                            <span class="end">{{endsAt| date}}</span>
                            <span class="timezone">Australia/Currie</span>
                            <span class="title">Trip {{title}}</span>
                            <span class="attendees" *ngIf="selectedUser"><span *ngFor="let user of selectedUser">{{user.email}},</span></span>
                            <span class="location">{{location}}</span>
                        </div>
                    </div>
                      
                      
                  </div>

                  <div class="col-md-6">
                        <div class="text-center mb-2">
                                <button class="btn btn-success" [routerLink]="['/add-event/', trip]">Add Event</button>
                            </div>
                      <div class="list-group">
                          <a [routerLink]="['/edit-event/', event.id]" *ngFor="let event of eventList" class="list-group-item list-group-item-action flex-column align-items-start mb-2 highlightItems">
                              <div class="d-flex w-100 justify-content-between">
                                  <h5 class="mb-1">{{ event.title?event.title: 'Unknown Title' }}</h5>
                                  <small>{{event.startsAt.toDate() | niceDateFormatPipe}}</small>
                              </div>
                              <p class="mb-1">{{ event.startsAt.toDate() | date }} - {{ event.endsAt.toDate() | date }}</p>
                              <small>{{event.location}}</small>
                          </a>
                          <a *ngIf="!eventList || eventList.length===0" class="list-group-item list-group-item-action flex-column align-items-start mb-2 highlightItems">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">No Event</h5>
                            </div>
                        </a>
                      </div>
                  </div>
              </div>
          </div>
      </main>
  </div>
</div>





<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Are you sure?</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
       <!-- Modal body -->
       <div class="modal-body">
        Do you really want to delete {{title}}? This process cannot be undone
        </div>  
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="delete();modal.dismiss('Cross click')">Delete</button>
    </div>
  </ng-template>