<!-- Top navigation -->
<nav class="navbar navbar-dark navbar-expand fixed-top bg-dark shadow p0 m0" aria-label="">
    <a class="navbar-brand" routerLink="/dashboard">
        <img class="brand-logo logo" src="assets/logo.png" alt="SmartCalendar logo">
        <span class="dasboard-text dasboard-text-active">Dashboard</span>
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/time-table">Timetable</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/manage">Manage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/report">Report</a>
        </li>
    </ul>
    <span class="nav-item my-lg-0">
            <a class="nav-link" routerLink="/profile">
              <button type="button" mat-mini-fab color="lightgrey"><mat-icon>person</mat-icon></button>
              <!-- <button type="button" class="btn btn-circle btn-sm text-center"><i class="fas fa-user user-icon"></i></button> -->
              </a>
          </span>
</nav>
<!-- Sidebar navigation -->
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-md-block bg-light sidebar" aria-label="">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active m-auto">
                                <mat-icon>person</mat-icon>User Profile
                        </a>
                    </li>
                    <!-- Calling SignOut() Api from AuthService -->
                    <li class="nav-item">
                            <a class="nav-link m-auto" (click)="authService.ForgotPassword(authService.userData.email)">
                                    <mat-icon >settings_backup_restore</mat-icon>Change Password
                            </a>
                        </li>

                    <li class="nav-item">
                            <a class="nav-link m-auto" (click)="edit(authService.userData.uid)">
                                    <mat-icon >edit</mat-icon>Edit
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link m-auto" (click)="open(content)">
                                    <mat-icon >delete</mat-icon>Delete
                            </a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link m-auto" (click)="authService.SignOut()">
                                <mat-icon >keyboard_backspace</mat-icon>Log out
                        </a>
                    </li>
                    
                    
                </ul>
            </div>
        </nav>
        <!-- Main content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="inner-adjust">
                <div class="pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">User Profile</h1>
                </div>
                <!-- Show user data when logged in -->
                <div class="row" *ngIf="authService.userData as user">
                    <div class="col-md-12">
                        <div class="media">
                            <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" alt="{{user.displayName}}">
                            <div class="media-body">
                                <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                                <form  [hidden]="!isEditing" [formGroup]="boardsForm" (ngSubmit)="updateUser(boardsForm.value)">
                                        <mat-form-field class="add-full-width">
                                            <input matInput placeholder="Display Name" formControlName="displayName">
                                            <mat-error>
                                                <span *ngIf="!boardsForm.get('displayName').valid && boardsForm.get('displayName').touched">Please enter Display Name</span>
                                            </mat-error>
                                        </mat-form-field>
            
                                        <mat-form-field class="add-full-width">
                                            <input matInput placeholder="First Name" formControlName="firstName">
                                            <mat-error>
                                                <span *ngIf="!boardsForm.get('firstName').valid && boardsForm.get('firstName').touched">Please enter First Name</span>
                                            </mat-error>
                                        </mat-form-field>
            
                                        <mat-form-field class="add-full-width">
                                            <input matInput placeholder="Last Name" formControlName="lastName">
                                            <mat-error>
                                                <span *ngIf="!boardsForm.get('lastName').valid && boardsForm.get('lastName').touched">Please enter Last Name</span>
                                            </mat-error>
                                        </mat-form-field>
            
            
                                        <mat-form-field class="add-full-width">
                                            <input matInput placeholder="Email" formControlName="email">
                                            <mat-error>
                                                <span *ngIf="!boardsForm.get('email').valid && boardsForm.get('email').touched">Please enter Email</span>
                                            </mat-error>
                                        </mat-form-field>
            
                                        <mat-form-field class="add-full-width">
                                                <input matInput placeholder="User Id" formControlName="uid" >
                                                <mat-error>
                                                    <span *ngIf="!boardsForm.get('uid').valid && boardsForm.get('uid').touched"  >Please enter User Id</span>
                                                </mat-error>
                                            </mat-form-field>
            
            
                                        <mat-form-field class="add-full-width">
                                            <mat-label>Role</mat-label>
                                            <mat-select formControlName="role">
                                                <mat-option *ngFor="let role of roleList" [value]="role">{{role}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
            
            
            
            
                                        <div class="button-row">
                                            <button type="submit" [hidden]="!isEditing" [disabled]="!boardsForm.valid" mat-mini-fab color="primary"><mat-icon>save</mat-icon></button>
                                        </div>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Are you sure?</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
       <!-- Modal body -->
       <div class="modal-body">
        Do you really want to delete this account? This process cannot be undone
        </div>  
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="delete(authService.userData.uid);modal.dismiss('Cross click')">Delete</button>
    </div>
  </ng-template>